<header class="w-full border-b">
  <div class="container mx-auto flex h-16 items-center justify-between px-16">
    <a routerLink="/" class="text-2xl font-bold text-primary">
      taskmaster
    </a>
    <nav class="flex items-center space-x-4">
      <button class="button-ghost ">
        <a routerLink="/signup" class="flex items-center space-x-2 flex items-center space-x-2 font-inter rounded-lg  hover:bg-gray-300 px-6 py-2 text-center">
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path d="M12 2v20m-10-10h20" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
          </svg>
          <span class="hidden sm:inline">Sign Up</span>
        </a>
      </button>
      <button>
        <a routerLink="/login" class="flex items-center space-x-2 font-inter rounded-lg bg-black px-6 py-2 text-center text-white hover:bg-gray-800">
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path d="M15 12l-4-4m0 0l-4 4m4-4v12" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
          </svg>
          <span class="hidden sm:inline">Login</span>
        </a>
      </button>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
